.restaurants {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.restaurants__restaurant-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.restaurants__restaurant-container p,
h3 {
  margin: 0;
}

.restaurants__restaurant-name {
  width: 50%;
}

.restaurants-list {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.restaurants__vote-section {
  width: 30%;
}
